doctype html
html
  head
    meta(charset="utf-8")
    meta(charset="utf+e228")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
    link(href="css/font-awesome.min.css" rel="stylesheet")
    link(href="css/main1.css" rel="stylesheet")
    link(href="css/header.css" rel="stylesheet")
    link(href="css/footer.css" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')

    script(src="js/jquery.js")
    script(src="js/bootstrap.min.js")
    script(src="js/main.js")

  body
    .color-gris
      .header1.container
        .row
          .col-md-3
            p.first-list Default Welcome Msg
          .col-md-9
            .ul.pull-right.list-unstyled.list-inline.first-list
              li
                span.glyphicon.glyphicon-film
                  | Lenguajes
                span.glyphicon.glyphicon-menu-down
              li
                span.glyphicon.glyphicon-eur
                  | Currency
                span.glyphicon.glyphicon-menu-down
              li
                span.glyphicon.glyphicon-user
                  | MyAccount
                span.glyphicon.glyphicon-menu-down
    .header2.container
      .row
        .col-md-3
          .row
            .col-md-2
              span.icon.glyphicon.glyphicon-time
            .col-md-10
              h2 Opening Time
              p 9:00 AM - 10:00 PM
        .col-md-6.text-center
          img(src="../assets/images/logo.png")
        .col-md-3
        .input-group
          input.form-control(type='text', placeholder='Search...')
          span.input-group-btn
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-search
    .color-gris
      .header3.container
        .row
          .col-md-6
            ul.pills.list-inline
              li.second-list
                a(href='#') HOME
              li.second-list
                a(href='#') CONTACT US
          .col-md-6
            .btn-group.pull-right
              button.color-black.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                p
                  span.glyphicon.glyphicon-shopping-cart MyCart
                | 2item(s)-$244.00
              ul.dropdown-menu
                li
                  a(href='#')
                    img(src="../assets/images/cart-1.jpg")
                    | Aliquam Consequat
                    | 1x$500
                li
                  a(href='#')
                    img(src="../assets/images/cart-2.jpg")
                    | Quisque In Arcuc
                    | 1x200$
                .row
                  .col-md-6
                    li
                      a Sub-Total
                    li
                      a Eco Tax
                    li
                      a VAT
                  .col-md-6
                    li
                      a $700
                    li
                      a $7.00
                    li
                      a $40.00
    section
      .carousel
        #carousel-example-generic.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            li(data-target='#carousel-example-generic', data-slide-to='1')
            li(data-target='#carousel-example-generic', data-slide-to='2')
          .carousel-inner(role='listbox')
            .item.active
              img(src="../assets/images/slider1.jpg")
              .carousel-caption
                h1.box AUTOMN/WINTER LOOKBOOK
                h1.box1 - 2016 COLECTION -
            .item
              img(src="../assets/images/slider2.jpg")
              .carousel-caption
                h1.box AUTOMN/WINTER LOOKBOOK
                h1.box1 - 2016 COLECTION -
          a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
    section
      .row.accesories
        .container
          .col-md-5
            img.img-responsive(src="../assets/images/banner1.jpg")
          .col-md-7
            img.img-responsive(src="../assets/images/banner2.jpg")
    section.list-products
      nav.text-center
        ul.pagination
          li
            a.options(href='#sale', aria-label='Previous')
              span.glyphicon.glyphicon-menu-left
          li
            a.options#latest(href='#latest') LATEST
          li
            a.options#best(href='#best') BESTSELLER
          li
            a.options#sale(href='#sale') SALE
          li
            a.options(href='#latest', aria-label='Next')
              span.glyphicon.glyphicon-menu-right
      .list-img-products.container
        .row
          .col-md-3
            ul
              li.img-thumbnail
                button.ofert NEW
                img.img-responsive(src="../assets/images/a1.jpg")
                .info.text-center
                  p Deliver Wide
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                  p.precio$218.00
          .col-md-3
            ul
              li.img-thumbnail
                button.ofert.sale SALE 
                img.img-responsive(src="../assets/images/b1.jpg")
                .info.text-center
                  p Deliver Wide
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                  ul.precio.list-unstyled.list-inline
                    li.trought
                      $242.00
                    li
                      $218.00
          .col-md-3
            ul
              li.img-thumbnail
                button.ofert NEW
                img.img-responsive(src="../assets/images/c1.jpg")
                .info.text-center
                  p Deliver Wide
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                  ul.precio.list-unstyled.list-inline
                    li.trought
                      $242.00
                    li
                      $218.00
          .col-md-3
            ul
              li.img-thumbnail
                button.ofert NEW
                img.img-responsive(src="../assets/images/d1.jpg")
                .info.text-center
                  p Deliver Wide
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                  p.precio $218.00
    section.banner
      .container
        .row
          .col-sm-2
            img.img-responsive(src="../assets/images/client1.jpg")
          .col-sm-2
            img.img-responsive(src="../assets/images/client2.jpg")
          .col-sm-2
            img.img-responsive(src="../assets/images/client3.jpg")
          .col-sm-2
            img.img-responsive(src="../assets/images/client4.jpg")
          .col-sm-2
            img.img-responsive(src="../assets/images/client5.jpg")
          .col-sm-2
            img.img-responsive(src="../assets/images/client6.jpg")
    section.list-products
      nav.text-center
        ul.pagination
          li
            a.options(href='#sale', aria-label='Previous')
              span.glyphicon.glyphicon-menu-left
          li
            a.options#latest(href='#latest') CLOTHING
          li
            a.options#best(href='#best') EQUIPMENTS
          li
            a.options#sale(href='#sale') JEWELLERY
          li
            a.options(href='#latest', aria-label='Next')
              span.glyphicon.glyphicon-menu-right
      .container
        .row
          .col-md-4
            ul.list-unstyled
              li.bottom
                .row
                  .col-md-6
                    button.ofert NEW
                    img.img-thumbnail.img-responsive(src="../assets/images/a2.jpg")
                  .col-md-6
                    .details
                      p Deliver Wide
                      ul.precio.list-unstyled.list-inline
                        li.trought
                          $242.00
                        li
                          $218.00
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    button
                      span.glyphicon.glyphicon-shopping-cart
                      | Add to Cart
              li.bottom
                .row
                  .col-md-6
                    button.ofert NEW
                    img.img-thumbnail.img-responsive(src="../assets/images/c2.jpg")
                  .col-md-6
                    .details
                      p Deliver Wide
                      ul.precio.list-unstyled.list-inline
                        li
                          $218.00
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    button
                      span.glyphicon.glyphicon-shopping-cart
                      | Add to Cart
          .col-md-4
            ul.list-unstyled
              li.bottom
                .row
                  .col-md-6
                    button.ofert NEW
                    img.img-thumbnail.img-responsive(src="../assets/images/d2.jpg")
                  .col-md-6
                    .details
                      p Deliver Wide
                      ul.precio.list-unstyled.list-inline
                        li
                          $218.00
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    button
                      span.glyphicon.glyphicon-shopping-cart
                      | Add to Cart
              li.bottom
                .row
                  .col-md-6
                    button.sale.ofert SALE
                    img.img-thumbnail.img-responsive(src="../assets/images/c2.jpg")
                  .col-md-6
                    .details
                      p Deliver Wide
                      ul.precio.list-unstyled.list-inline
                        li.trought
                          $242.00
                        li
                          $218.00
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    button
                      span.glyphicon.glyphicon-shopping-cart
                      | Add to Cart
          .col-md-4
            ul.list-unstyled
              li.bottom
                .row
                  .col-md-6
                    img.img-thumbnail.img-responsive(src="../assets/images/g2.jpg")
                  .col-md-6
                    .details
                      p Deliver Wide
                      ul.precio.list-unstyled.list-inline
                        li
                          $218.00
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    button
                      span.glyphicon.glyphicon-shopping-cart
                      | Add to Cart
              li.bottom
                .row
                  .col-md-6
                    button.ofert NEW
                    img.img-thumbnail.img-responsive(src="../assets/images/e2.jpg")
                  .col-md-6
                    .details
                      p Deliver Wide
                      ul.precio.list-unstyled.list-inline
                        li
                          $218.00
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    button
                      span.glyphicon.glyphicon-shopping-cart
                      | Add to Cart