.contact-opacity{
	background-color:rgba(150, 143, 126, 1)
}
.contact-fondo{
	background-image:url('../images/slider1.jpg');
	padding:10%;
	color: white;
	margin-bottom:5%;
}
.contact-pad{
	background-color:#ae323b;
	padding:8%;
}
.pdt-5{
	padding-bottom:5%;
}
.pd-9{
	padding-left:9%;
}
.mb-1{
	margin-top:4%;
}
