$color_gris:#e5deda;
$color_letra_gris:#655f5a;
$fuente_primaria:Raleway;
$fondo_guinda:#dd1d43;
$fondo_negro:#212121;
body{
  font-family: $fuente_primaria;
}
.color-gris{
  background-color: $color_gris;
}
.header1{
  padding: 1%;
}
.first-list{
  color:$color_letra_gris;
}
.header2{
  padding: 4%;
}
.icon{
  font-size: 40px;
  position: relative;
  top: 40px;
}
.color-black{
  background-color: #3c3936;
  color: white;
}
.pills{
  margin:0px;
  padding: 4%;
}
.pills a{
text-decoration: none;
color: black;
margin: 0px;
}
.second-list:hover{
background-color: $fondo_guinda;
padding: 4%;
}
.box{
  margin-bottom: 4%;
  border: 2px solid white;
  padding:2%; 
}
.box1{
  margin-bottom: 15%;
}
.accesories{
  padding:2%;
}
.pagination>li>a:focus{
  color: #171414;
}
.pagination>li>a, .pagination>li>span{
  border:none;
  color:$color_letra_gris;
}
.precio{
  color:$fondo_guinda
}
.trought{
  text-decoration:line-through;
  color:$color_gris;
}
.ofert{
  background-color:$fondo_guinda;
  border:none;
  color: #F9F4F3;
  padding:3%;
  position:absolute;
}
.sale{
  background-color:$fondo_negro;
}
.banner{
  background-image: url('../images/client-bg.jpg');
  padding:5%;
  margin-top: 3%;
  margin-bottom: 2%;
}
.bottom{
  margin-bottom: 10%;
}
.box-span{
  border:1px solid black;
}
#icon{
  font-size: 30px;
  margin-left: 10px;
}